<ion-content div class="ion-padding">
  <ion-label class="playing">Playing {{audio}} ...</ion-label>
  <div [style.backgroundImage]="'url(' + image +')'"></div>
  <ion-button expand='block' (click)="goToCreditsPage();">Credits</ion-button>
</ion-content>